html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

.plot{
	min-height:300px;
}
.control{
	height:100px;
	position:relative;
	padding:20px 100px 0;
}
	.control .navbar{background:white;}


/*#plot1*/
.histogram .bin{
	fill:rgb(50,50,50);
	fill-opacity:.8;
}
.histogram .mean,
.histogram .median{
	fill:none;
	stroke-width:2px;
}
.histogram .mean{stroke:rgb(255,50,0);}
.histogram .median{
	stroke:rgb(255,50,0);
	stroke-dasharray: 3px 3px;
}

/*#plot-2*/
.time-series .line{
	stroke:rgb(80,80,80);
	fill:none;
	stroke-width:1px;
}
.time-series .area{
	fill-opacity:.1;
}
#plot2 .axis-y .tick line{
	stroke:white;
	stroke-width:.5px;
}
#plot2 .axis-y .domain{
	display:none;
}
